#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SeaSnake
Comment=Chyťte všechny ryby a sbírejte hvězdice!
Exec=/usr/games/seasnake
Terminal=false
Type=Application
Icon=icon.png
Encoding=UTF-8
Categories=Game
